{% extends 'iips_site/about-iips-base.html' %}
{% load staticfiles %}
{% block content1 %}
<!-- Intro Content -->
        
            
                <img class="img-responsive" src="{% static 'iips_site/img/college.JPG' %}" alt="">
           
            
            	{% for item in about_iips_list %}
                <h2>{{ item.Heading }}</h2>
                <p>{{ item.Description|linebreaks }}</p>
                {% endfor %}

                 <table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Director</th>
				        <th>Working Period</th>
				      </tr>
				    </thead>
				    <tbody>
				    {% for item in director_list %}
				      <tr>
				        <td>{{item.Name}}</td>
				        <td>{{item.Working_Period}}</td>
				      </tr>
				    {% endfor %}
				    </tbody>
				  </table>
   
{% endblock %}