
<br>
<br>
{% if forms.error %}
<p class="error">Sorry, thats not a valid username or passwword</p>
{% endif %}

<form action="/account/auth" method="post" >{% csrf_token %}
<label for="group">Group</label><br>
<input type="text" name="group" value="" id="group"><br>
<label for="username">Username</label><br>
<input type="text" name="username" value="" id="username"><br>
<label for="password">Password</label><br>
<input type="password" name="password" value="" id="password"><br>
<input type="submit" value="login" />
</form>
