{% extends "iips_site/base.html" %}



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Programs 
                    <small>We Offer </small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'iips_site:home' %}">Home</a>
                    </li>
                    <li class="active">Admissions</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                	

                    <a href="{% url 'iips_site:admissioncet' %}" class="list-group-item"> Common Entrance Exam (CET)</a>
                    <a href="{% url 'iips_site:admissioneligiblity' %}" class="list-group-item"> Eligiblity</a>
                    <a href="{% url 'iips_site:admissionhowtoapply' %}" class="list-group-item"> How To Apply</a>
                    <a href="{% url 'iips_site:admissioncouncling' %}" class="list-group-item"> Councling </a>
                    
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                
                {% block content1 %}{% endblock %}
            </div>
        </div>
        <!-- /.row -->
</div>

        <hr>


{% endblock %}

