{% extends 'iips_site/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Placements 
                    
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'iips_site:home' %}">Home</a>
                    </li>
                    <li class="active">Placements</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                	

                    	<a href="{% url 'iips_site:placement' %}" class="list-group-item">Placement Cell</a>
                    	<a href="{% url 'iips_site:placementlist' %}" class="list-group-item">Placements</a>
                    	<a href="{% url 'iips_site:placementcompany' %}" class="list-group-item">Companies</a>
                    
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                
                <!-- Page Content -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Companies</h2>
                    </div>
                    {% for company in placement_company_list %}
                    <div class="col-md-6 text-center">
                        <div class="thumbnail">
                            <img class="img-responsive" src="../../media/{{company.Logo}}" alt="{{ company.Name }}">
                            <div class="caption">
                                <h3>{{ company.Name }}<br>
                                    
                                </h3>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}




   			</div>
   		</div>
   	</div>
{% endblock %}





