{% extends "iips_site/program.html" %} 


{% block content1 %}

{% load url from future %}





<h1>{{ program.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul class="nav nav-tabs">

{% for course in program.course_set.all %}

{% if course.id == 1 %}
  <li role="presentation" class="active"><a href="{% url 'iips_site:programcoursedetail' course.id %}">{{ course.name }}</a></li>
  {% else %}
  <li role="presentation"><a href="{% url 'iips_site:programcoursedetail' course.id %}">{{ course.name }}</a></li>
  {% endif %}
  

{% endfor %}
    
 </ul>  

 {% block content2 %}{% endblock %}



{% endblock %}
