{% extends "iips_site/program.html" %} 


{% block content1 %}

{% load url from future %}





<h1>{{ program.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for course in program.course_set.all %}



<ul class="nav nav-tabs">
	{% if course.id == 1 %}
  <li role="presentation" class="active"><a href="#">Home</a></li>
  {% else %}
  <li role="presentation"><a href="#">Profile</a></li>
  {% endif %}
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

    <h3>{{course.name}}</h3>
    <p> {{course.description}}</p>
{% endfor %}


{% endblock %}
