{% extends 'iips_site/base.html' %}
{% block content %}
{% if item_list %}

		<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Staff</h2>
            </div>
            {% for item in item_list %}

            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ item.Picture }}" alt=""  width=50%>
                    <div class="caption">
                        <h3>{{ item.Name }}<br>
                            <small>{{ item.Post }}</small>
                        </h3>
                        {{ item.Responsibility }}
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                            </li>
                            <li><a href="{{ item.Linkedin_Link }}"><i class="fa fa-2x fa-linkedin-square"></i></a>
                            </li>
                            <li><a href="{{ item.Twitter_Link }}"><i class="fa fa-2x fa-twitter-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-2x fa-google-plus-square"></i>
</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            
{% endfor %}

 {% else %}
 no member
 {% endif %}
{% endblock %}
