{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    

    
    <link href="{% static 'iips_site/mb/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'iips_site/mb/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    

    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
    });
    </script>
    <style type="text/css">
        .bs-example{
            margin: 100px 50px;
        }
    </style>

<!-- Custom CSS -->
    <link href="{% static 'events/css/agency.css' %}" rel="stylesheet">

</head>


<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Events</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% for item in category_list %}
                    <li>
                        <a class="page-scroll" href="#{{ item.title }}">{{item.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- ######### footer #############-->
    <footer>
        <!-- Call to Action Section -->
        
            <h5>Quick Links </h5>
            <hr>
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <h4> <u>About us</u> </h4><br>
                    <a href="{% url 'iips_site:aboutiips' %}"> About College </a><br>
                    <a href="{% url 'iips_site:aboutuniversitydetail' 1 %}"> About University </a><br>
                    <a href="{% url 'iips_site:contact' %}"> Contact </a><br> 
                    <a href="{% url 'iips_site:gallary' %}">Gallery</a>

                </div>
                
            
            
                <div class="col-md-2 col-xs-6">
                    <h4> <u>Programs</u> </h4><br>
                    {% for block in program_list %}
                    <a href="{% url 'iips_site:programdetail' block.id %}"> {{ block.name }} </a><br>
                    
                    {% endfor %}
                    
                </div>
                <div class="col-md-2 col-xs-6">
                    <h4><u>Academics</u></h4><br>
                    <a href=#>Calender</a><br>
                    <a href="{% url 'iips_site:notification' %}">Notifications</a><br>
                    <a href="{%url 'iips_site:syllabusdetail' 2 %}">Syllabus</a><br>
                    <a href="{% url 'iips_site:news' %}">News</a><br>
                </div>
                <div class="col-md-2 col-xs-6">
                    <h4> <u>Admissions</u> </h4><br>
                    {% for block in admission_list %}
                    <a href="{% url 'iips_site:admissiondetail' block.id %}"> {{ block.Block }} </a><br>
                    {% endfor %}
                    
                </div>
                
                <div class="col-md-2 col-xs-6">
                    <h4> <u>Placements</u> </h4><br>
                    <a href="{% url 'iips_site:placement' %}"> Placement Cell</a><br>
                    <a href="{% url 'iips_site:placementlist' %}"> Placements </a><br>
                    <a href="{% url 'iips_site:placementcompany' %}"> Companies</a><br> 
                </div>
                <div class="col-md-2 col-xs-6">
                    <h4> <u>Miscellaneous</u> </h4><br>
                    <a href="sidebar.html">Staff Information</a><br>
                    <a href="faq.html">Faculty Information</a>
                </div>

                 
            </div>
        </div>
                
            
        
        

        <hr>

        <!-- Footer -->
        
            <div class="row">
                <div class="col-lg-9">
                    <p>Copyright &copy; Website 2015</p>
                </div>
            
                <div class="col-lg-3" align="right ">
                    <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                    </li>
                    </ul>
                    
                </div>
            </div>
           
            

        </footer>

    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'iips_site/mb/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'iips_site/mb/js/bootstrap.min.js' %} "></script>

    <script src="{% static 'events/js/jquery.min.js' %}"></script>

     <!-- Custom Theme JavaScript -->
    <script src="{% static 'events/js/agency.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>


 <!-- jQuery -->
    
    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="{% static 'iips_site/mb/js/jqBootstrapValidation.js' %}"></script>

    


</body>
</html>