
{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>

    <!-- Custom CSS -->
    <link href="{% static 'events/css/agency.css' %}" rel="stylesheet">

    <link href="{% static 'events/js/jquery.min.js' %}" rel="stylesheet">

    <link href="{% static 'iips_site/mb/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'iips_site/mb/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
    });
    </script>
    <style type="text/css">
        .bs-example{
            margin: 100px 50px;
        }
    </style>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Events</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% for item in category_list %}
                    <li>
                        <a class="page-scroll" href="#{{ item.title }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <h1>Events</h1>
            </div>
        </div>
    </header>

    {% for category in category_list %}

    <!-- Portfolio Grid Section -->
    <section id="{{category.title}}" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{category.title}}</h2>
                    <h3 class="section-subheading text-muted">Here are the events for {{category.title}} .</h3>
                </div>
            </div>

            <div class="row">
                {% for item in category.event_set.all %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#{{item.title}}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../../media/{{item.photo}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{item.title}}</h4>
                        <p class="text-muted">{%for subitem in item.tags.all%}{{subitem.name}} {% endfor %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>

    
    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    {% for item in category.event_set.all %}
    <div class="portfolio-modal modal fade" id="{{item.title}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{item.title}}</h2>
                            <p class="item-intro text-muted">{% for subitem in item.tags.all %}{{ subitem.name }} {% endfor %}</p>
                            
                            <p>{{item.description}}</p>










                            <!-- use jssor.slider.min.js instead for release -->
                    <!-- jssor.slider.min.js = (jssor.js + jssor.slider.js) -->
                    <script type="text/javascript" src="{% static 'iips_site/js/jssor.js' %}"></script>
                    <script type="text/javascript" src="{% static 'iips_site/js/jssor.slider.js' %}"></script>
                    <script>

                        jssor_slider1_starter = function (containerId) {

                            var _SlideshowTransitions = [
                            //Fade
                            { $Duration: 1200, $Opacity: 2 }
                            ];

                            var options = {
                                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                                $AutoPlayInterval: 3000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                                $ArrowKeyNavigation: true,                          //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                                $SlideSpacing: 0,                                   //[Optional] Space between each slide in pixels, default value is 0
                                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                                    $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
                                },

                                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                                    $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                                    $SpacingY: 10,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                                },

                                $ArrowNavigatorOptions: {
                                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                                    $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                                }
                            };
                            var jssor_slider1 = new $JssorSlider$(containerId, options);

                            //responsive code begin
                            //you can remove responsive code if you don't want the slider scales while window resizes
                            function ScaleSlider() {
                                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                                if (parentWidth)
                                    jssor_slider1.$ScaleWidth(Math.min(parentWidth, 600));
                                else
                                    $Jssor$.$Delay(ScaleSlider, 30);
                            }

                            ScaleSlider();
                            $Jssor$.$AddEvent(window, "load", ScaleSlider);

                            $Jssor$.$AddEvent(window, "resize", $Jssor$.$WindowResizeFilter(window, ScaleSlider));
                            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
                            //responsive code end
                        };
                    </script>
                    <!-- Jssor Slider Begin -->
                    <!-- You can move inline styles to css file or css block. -->
                    <center>
                    <div id="slider1_container" style="position: relative; top: 0px;  width: 600px; height: 300px; overflow: hidden; ">

                        <!-- Loading Screen -->
                        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                                background-color: #000000; top: 0px; width: 100%;height:100%;">
                            </div>
                            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                                top: 0px; width: 100%;height:100%;">
                            </div>
                        </div>

                        <!-- Slides Container -->
                        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 600px; height: 300px; overflow: hidden;">
                           
                        {% for subitem in item.gallery_set.all %}
                            <div>
                                <img u="image" src="../../media/{{subitem.photo}}" />
                            </div>
                        {% endfor %}
                            
                        </div>

                        <!-- Bullet Navigator Skin Begin -->
                        <style>
                            /* jssor slider bullet navigator skin 05 css */
                            /*
                            .jssorb05 div           (normal)
                            .jssorb05 div:hover     (normal mouseover)
                            .jssorb05 .av           (active)
                            .jssorb05 .av:hover     (active mouseover)
                            .jssorb05 .dn           (mousedown)
                            */
                            .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
                                background: url({% static 'iips_site/img/b05.png' %}) no-repeat;
                                overflow: hidden;
                                cursor: pointer;
                            }

                            .jssorb05 div {
                                background-position: -7px -7px;
                            }

                                .jssorb05 div:hover, .jssorb05 .av:hover {
                                    background-position: -37px -7px;
                                }

                            .jssorb05 .av {
                                background-position: -67px -7px;
                            }

                            .jssorb05 .dn, .jssorb05 .dn:hover {
                                background-position: -97px -7px;
                            }
                        </style>
                        <!-- bullet navigator container -->
                        <div u="navigator" class="jssorb05" style="position: absolute; bottom: 16px; right: 6px;">
                            <!-- bullet navigator item prototype -->
                            <div u="prototype" style="POSITION: absolute; WIDTH: 16px; HEIGHT: 16px;"></div>
                        </div>
                        <!-- Bullet Navigator Skin End -->
                        <!-- Arrow Navigator Skin Begin -->
                        <style>
                            /* jssor slider arrow navigator skin 12 css */
                            /*
                            .jssora12l              (normal)
                            .jssora12r              (normal)
                            .jssora12l:hover        (normal mouseover)
                            .jssora12r:hover        (normal mouseover)
                            .jssora12ldn            (mousedown)
                            .jssora12rdn            (mousedown)
                            */
                            .jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
                                position: absolute;
                                cursor: pointer;
                                display: block;
                                background: url({% static 'iips_site/img/a17.png' %}) no-repeat;
                                overflow: hidden;
                            }

                            .jssora12l {
                                background-position: -16px -37px;
                            }

                            .jssora12r {
                                background-position: -75px -37px;
                            }

                            .jssora12l:hover {
                                background-position: -136px -37px;
                            }

                            .jssora12r:hover {
                                background-position: -195px -37px;
                            }

                            .jssora12ldn {
                                background-position: -256px -37px;
                            }

                            .jssora12rdn {
                                background-position: -315px -37px;
                            }
                        </style>
                        <!-- Arrow Left -->
                        <span u="arrowleft" class="jssora12l" style="width: 30px; height: 46px; top: 123px; left: 0px;">
                        </span>
                        <!-- Arrow Right -->
                        <span u="arrowright" class="jssora12r" style="width: 30px; height: 46px; top: 123px; right: 0px">
                        </span>
                        <!-- Arrow Navigator Skin End -->
                        <a style="display: none" href="http://www.jssor.com">jQuery Carousel</a>
                        <!-- Trigger -->
                        <script>
                            jssor_slider1_starter('slider1_container');
                        </script>
                    </div>
                    <!-- Jssor Slider End -->
                    </center>
                        <br>
                        <br>

                                            
                                                
                                            <ul class="list-inline">
                                                <li>Date: {{item.start_date}}</li>
                                                {% for subitem in item.location.all %}
                                                <li>Venue:<a href="#" data-toggle="tooltip" data-original-title="{{ subitem.address_line_1 }}, {{ subitem.address_line_2 }}, {{ subitem.address_line_3 }}, {{ subitem.city }}, {{ subitem.zip_code }}"> {{ subitem.name }} </a></li>
                                                {% endfor %}
                                                <li>Category: {% for subitem in item.categories.all %}{{ subitem.title }} {% endfor %}</li>
                                                <li>More Info.: <a href="{{item.more_info}}">{{item.more_info}}</a></li>
                                            </ul>

                                            
                           
                                           



                                            <!-- Content Row -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="panel-group" id="accordion">
                                                    {% for subitem in item.sub_event_set.all %}
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title">
                                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{ subitem.name }}">{{ subitem.name }}</a>
                                                                </h4>
                                                            </div>
                                                            <div id="{{ subitem.name }}" class="panel-collapse collapse">
                                                                <div class="panel-body">
                                                                    {{ subitem.description }}
                                                                    <br>
                                                                    <br>
                                                                    <ul class="list-inline">
                                                                        <li>Date: {{item.start_date}}</li>
                                                                        {% for subitem in item.location.all %}
                                                                        <li>Venue:<a href="#" data-toggle="tooltip" data-original-title="{{ subitem.address_line_1 }}, {{ subitem.address_line_2 }}, {{ subitem.address_line_3 }}, {{ subitem.city }}, {{ subitem.zip_code }}"> {{ subitem.name }} </a></li>
                                                                        {% endfor %}
                                                                        <li>Category: {% for subitem in item.categories.all %}{{ subitem.title }} {% endfor %}</li>
                                                                        <li>More Info.: <a href="{{item.more_info}}">{{item.more_info}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                    <!-- /.panel-group -->
                                                    
                                                </div>
                                                <!-- /.col-lg-12 -->
                                            </div>
                                            <!-- /.row -->

                                             



                                           
                                            <!-- Contact Form -->
                                                    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <h3 align="left">Registeration Form</h3>
                                                            <form name="sentMessage" id="contactForm" novalidate>
                                                                <div class="control-group form-group">
                                                                    <div class="controls">
                                                                        <label>Full Name:</label>
                                                                        <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                                                                        <p class="help-block"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="control-group form-group">
                                                                    <div class="controls">
                                                                        <label>Roll Number</label>
                                                                        <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your roll number.">
                                                                    </div>
                                                                </div>
                                                                <div class="control-group form-group">
                                                                    <div class="controls">
                                                                        <label>University/College</label>
                                                                        <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your University/College.">
                                                                    </div>
                                                                </div>
                                                                
                                                                <div id="success"></div>
                                                                <!-- For success/fail messages -->
                                                                <button type="submit" class="btn btn-primary">Register</button>
                                                            </form>
                                                        </div>

                                                    </div>
                                                    <!-- /.row -->






                                             <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>





 
   


{% endfor %}

{% endfor %}









    <!-- jQuery -->
    <script src="{% static 'events/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'events/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'events/js/classie.js' %}"></script>
    <script src="{% static 'events/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'events/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'events/js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'events/js/agency.js' %}"></script>

</body>

</html>


{% endblock %}