






 <!-- Page Heading/Breadcrumbs -->
    	<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Team Registration</h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'iips_site:home' %}">Home</a></li>
                    <li><a href="{% url 'events:event' %}">Events</a></li>
                    
                    <li class="active" >Team Registration</li>
                </ol>
            </div>
        </div>
       
        <!-- /.row -->


<!-- Contact Form -->
<!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<div class="row">
    <div class="col-md-8">
        
	
		
		<h3 align="left">Team Member Registeration</h3>
		
		<form method="post" action="">
			
			      {{ team_member_form.management_form }} <!-- this is very ncessary in order to avoid errors, managemnet for m is an attribute of formse -->
			      {% for form in team_member_form %}
			      <table>
			      	{% for field in form %}
			      		{% csrf_token %}
			      		<tr>
			       			<td>{{ field.label }}</td>
			       			<td>{{ field }}</td>
			       		</tr>
			       	{% endfor %}
			       <hr>
			       </table>
			      {% endfor %} 
			      <input type="submit" value="Register" class="btn btn-primary"/>
			
		</form>
		
		
        

            <!-- For success/fail messages -->
            
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

        </form>
    </div>

</div>
              

   